@import '../utils/index';
.interlink {
	@import '../components/authContainer/index';
}


.interlink .page-register {
	.authContainer_form_action {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.iBttn-primary {
			width: 100%;
			max-width: 24em;
			margin-bottom: 1em;
		}
	}
}