.jobSearch {
	width: 100%;

	// .jobSearch_searchKey
	&_searchKey {
		width: 100%;
		min-height: 15em;
		background-color: $gray-100;
		display: flex;
		align-items: center;
		justify-content: center;

		.container {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: column;
		}

		&_title {
			margin-top: 0;
			margin-bottom: 1rem;
			font-size: 3.5em;
			color: $black;
			font-weight: 700;
			text-align: center;
		}

		&_subtitle {
			font-size: 1em;
			color: $gray-300;
			font-weight: 600;
			text-align: center;
		}
	}

	// .jobSearch_jobs
	&_jobs {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		// .jobSearch_jobs_msg
		&_msg {
			margin: 2em auto;
			text-align: center;
			font-weight: 600;
			width: 100%;
			font-size: 2em;
			color: rgba(#000,.5);
		}
	}
}