@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	height: $nav-height;
	background-color: #fff;
	box-shadow: 0 0 .25em .5em rgba(#000,.05);

	// .nav_container
	&_container {
		max-width: $container-width;
		width: 100%;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: nowrap;

		margin: 0 auto;
	}


	// .nav_logo
	&_logo {
		margin: auto 0;
		height: calc(100% - 3em);
		width: auto;
		cursor: pointer;
	}

	// .nav_actions
	&_actions {
		margin-left: auto;
		display: flex;
		align-items: stretch;
		justify-content: flex-end;
		height: 100%;
	}


	// .nav_menu
	&_menu {
		height: 100%;

		.nav_menu_list ,
		.nav_menu_list_item ,
		.nav_menu_list_item a {
			height: 100%;
		}

		// nav_menu_list
		&_list {
			margin: 0;
			padding-left: 0;
			list-style-type: none;

			// nav_menu_list_item
			&_item {
				position: relative;
				padding: 0 1em;
				background-color: transparent;
				transition: 
					background-color 300ms ease-out;

				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: .15em;
					background-color: $primary-color;
				}

				&:hover {
					background-color: $gray-100;
				}
			}
		}


		a {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $primary-color;
			font-family: $font-family;
			font-weight: 700;
		}
	}


	// .nav_profile
	&_profile {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 0 1em;
		position: relative;


		// nav_profile_avatar
		&_avatar {
			width: $nav-avatar-size;
			height: $nav-avatar-size;
			border-radius: 50%;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-positon: 50% 50%;
			}
		}

		// nav_profile_content
		&_content {
			padding: 0 1em;
			.name ,
			.logout {
				line-height: 1;
				margin-top: 0;
				margin-bottom: 0;
				cursor: pointer;
			}

			.name {
				font-size: 1.5em;
				font-weight: 700;
				color: $black;
				margin-bottom: .5rem;

				&:hover {
					color: $primary-color;
				}
			}

			.logout {
				color: $gray-200;
				font-weight: 600;
				&:hover {
					color: $error;
				}
			}
		}

		// .nav_profile_notification
		&_notification {
			width: auto;
			height: auto;
			line-height: 1em;
			font-size: 1em;
			padding: .5em;
			flex-shrink: 0;
			color: $black;

			.md-icon {
				height: 1em;
				width: 1em;
				text-align: center;
				font-size: 1.75em;
				line-height: 1;
				color: inherit;
				display: block;
				transform-origin: top center;
			}

			&:hover {
				color: $primary-color;
				.md-icon {
					animation-name: swing;
					animation-fill-mode: both;
					animation-duration: 1s
				}
			}

		}

	}
}

.nav + main {
	padding-top: $nav-height;
}