.iBttn {
	span + i {
		margin-right: 0;
		margin-left: 1em;
	}

	&:hover {
		background-color: $primary-color-100;
	}
}

// ========================
// BUTTON COLORS
// ========================
$btn-colors: (
	'red': $red,
	'orange': $orange,
	'yellow': $yellow,
	'green': $green,
	'jade': $jade,
	'teal': $teal,
	'blue': $blue,
	'indigo': $indigo,
	'purple': $purple,
	'violet': $violet,
	'white': $white,
	'primary': $primary-color,
	'primary-100': $primary-color-100,
	'secondary': $secondary-color,
	'secondary-2': $secondary-color-2,
	'secondary-3': $secondary-color-3,
	'secondary-4': $secondary-color-4,
	'tertiary': $tertiary-color,
	'tertiary-2': $tertiary-color-2,
	'tertiary-3': $tertiary-color-3,
	'tertiary-4': $tertiary-color-4,
	'highlight': $highlight-color,
	'highlight-2': $highlight-color-2, 
	'highlight-3': $highlight-color-3,
	'highlight-4': $highlight-color-4,
	'black': $black,
	'gray': $gray,
	'gray-400': $gray-400,
	'gray-300': $gray-300,
	'gray-200': $gray-200,
	'gray-100': $gray-100,
	'lightgray': $lightgray,
	'darkgray': $darkgray
);

.iBttn {
	display: inline-block;
	padding: .75em 2em;
	border-radius: .5em;
	height: auto;
	font-weight: 600;
	min-width: 10em;
	text-decoration: none !important;
	border: none;
	cursor: pointer;
	font-size: 1em;
	font-family: $font-family;
	text-align: center;
	text-transform: none;
	border-width: 2px;
	border-style: solid;
	line-height: 1em;

	> i , 
	> span {
		color: inherit;
		font-weight: inherit;
		font-size: inherit;
	}

	// ripple
	span:last-child {
		display: none;
	}

	@each $name,$value in $btn-colors {
		&-#{$name} {
			border-color: $value;
			background-color: $value;
			color: determine-text-color($value);
			&:hover {
				border-color: darken($value,10);
				background-color: darken($value,10);
			}
		}


		&-#{$name}-inverted {
			border: 2px solid lighten($value, 50%); 
			color: $value;
			background-color: transparent;
			&:hover {
				border-color: $value
			}
		}
	}
}


.iBttn-second-prio {
	border-color: $gray-300;
	color: $black;
	&:hover {
		color: $primary-color;
		border-color: $gray-400;
		background-color: transparent;
	}
}

// ========================
// TRANSPARENT
// ========================
.iBttn-transparent {
	background-color: rgba(#000,.02);
	color: $black;
	border: none;
	&:hover {
		color: #FFF;
		background-color: $primary-color;
	}
}

.iBttn-transparent-white {
	background-color: rgba(#FFF,.1);
	color: #FFF;
	border: none;
	&:hover {
		background-color: rgba(#FFF,.2);
	}
}

// ========================
// FAKE TAB STYLE
// ========================
.iBttnFakeTab {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 100%;
	border-bottom: 2px solid $gray-200;
	margin-bottom: 2em;

	.iBttn {
		flex-grow: 1;
		flex-shrink: 1;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border: none !important;
		&.active {
			background-color: $primary-color;
			color: #FFF;

		}
	}
}


// ========================
// SPECIAL STYLE
// ========================
.iBttn-special-1 {
	width: 100%;
	box-shadow: none !important;
	padding: 1.25em 1em;
	font-weight: 700;
	font-size: 1em;
	border: .15em dashed lighten($primary-color,10%);
	background-color: lighten($primary-color,40%);
	color: $primary-color;

	&:hover {
		color: #FFF;
		border-color: $primary-color;
		border-style: solid;
		background-color: $primary-color;
	}
}


// ========================
// PROCESSING
// ========================
@keyframes clockwise {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.iBttn.processing {
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -13px;
		left: 50%;
		margin-left: -13px;
		visibility: visible;
		width: 26px;
		height: 26px;
		border-radius: 100%;
		border-width: 4px;
		border-style: solid;
		border-color: #2CA1D8 rgba(0,0,0,0.5) rgba(0,0,0,0.5) rgba(0,0,0,0.5);
		z-index: 110;
		animation: clockwise .5s linear infinite;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		visibility: visible;
		background-color: rgba(255,255,255,0.5);
		z-index: 100;
	}
}