$fieldBorder: 1px solid $gray-200;

.iField {
	background-color: #fff;
	border: $gray-200;
	padding: .8em;
	font-size: 1rem;
	font-family: $font-family;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0em;
	border: $fieldBorder;

	.md-floating-label {
		position: relative;
		top: 0;
		left: 0;
		font-size: 1em;
		font-family: inherit;
		transform: none !important;
		color: $gray-300;
		width: 100%;
		text-align: left;
		display: block;

		&:not([class*="--inactive"]) {
			color: $primary-color;
		}
	}

	input::placeholder {
		color: $gray-200;
	}

	.md-text-field {
		padding: .5em 0;
		font-size: 1em;
		color: $black;
		font-family: $font-family;
		margin-top: 0;
	}

	.md-divider {
		position: absolute;
		top: 0;
		right: 100%;
		width: 3px;
		height: 100%;
		margin-top: 0;
		margin-bottom: 0;
		z-index: 10;
		background-color: $primary-color;
		visibility: hidden;

		&:before ,
		&:after {
			display: none;
		}

		&[class*="active"] {
			visibility: visible;
		}
	}

	.md-text-field-inline-indicator {
		right: 1em;
	}
}

.iField + .iField {
	border-top: none;
}

.iFieldRow {
	.iField + .iField {
		border-top: $fieldBorder;
		border-left: none;
	}

	& + .iField {
		border-top: none;
	}
}

// ====================================
// datepicker
// ====================================
.iField {
	.react-datepicker-wrapper ,
	.react-datepicker__input-container ,
	.react-datepicker__input-container input {
		width: 100%;
	}

	.react-datepicker__input-container {
		input {
			border: none;
			outline: none !important;
			font-size: 1em;
			font-family: $font-family;
			min-height: 2.5em;
		}
	}
}

// ====================================
// react select
// ====================================
.iField-rs {
	padding: 0;

	// .iField-rs__control
	&__control {
		border: none;
		padding: .8em;
		border-radius: 0;

		// .iField-rs__control--is-focused
		&--is-focused {
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 100%;
				width: 3px;
				height: 100%;
				background-color: $primary-color;
			}
			border: none !important;
		}
	}

	// .iField-rs__menu
	&__menu {
		margin-top: 0;
		border-radius: 0;

		// .iField-rs__menu-list
		&-list {
			padding: 0;
			max-height: 12em;
		}
	}

	// .iField-rs__indicators
	&__indicators {


	}

	// .iField-rs__indicator-separator
	&__indicator-separator {
		display: none;
	}
}