.iTable {
	font-size: 1em;
	font-family: $font-family;
	overflow: visible;
	position: relative;

	// cells
	.md-table-column {
		font-size: 1em;
		font-family: $font-family;
		color: $black;
		height: auto;
		padding: 1em;
	}

	// header
	.md-table-header {
		font-size: 1em;
		color: $black;
		height: auto;

		.md-table-column {
			border-bottom: .15em solid $primary-color;
		}
	}

	// body
	.md-table-body {
		> div:first-child {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			text-align: center;
			padding: .5em;
			opacity: .5;
		}
	}
}