
p,.h1,.h2,.h3,.h4,.h5,.h6,
h1,h2,h3,h4,h5,h6 {
	font-family: $font-family;
}
p {
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.8;
}

a {
	font-weight: 600;
	text-decoration: none;
	color: $primary-color;

	&:visited ,
	&:hover {
		color: $primary-color;
	}
}